@page "/fetchdata/{id}"
@using RavnChallenge.Shared
@using RavnChallenge.Shared.Dtos
@inject HttpClient Http

@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="margin-left: 10%; margin-right: 10%">
        <table class="table">
            <thead>
                <tr style="padding-top: 32px">
                    <th style="color: #121212; font-size: 16px; width: 85%">General Information</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="color: #828282; font-size: 16px">Eye Color</td>
                    <td style="color: #333333; font-size: 16px">@data.Eye_color</td>
                </tr>
                <tr>
                    <td style="color: #828282; font-size: 16px">Hair Color</td>
                    <td style="color: #333333; font-size: 16px">@data.Hair_color</td>
                </tr>
                <tr>
                    <td style="color: #828282; font-size: 16px">Skin Color</td>
                    <td style="color: #333333; font-size: 16px">@data.Skin_color</td>
                </tr>
                <tr>
                    <td style="color: #828282; font-size: 16px">Birth Year</td>
                    <td style="color: #333333; font-size: 16px">@data.Birth_year</td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr style="padding-top: 32px">
                    <th style="color: #121212; font-size: 16px"><strong>Vehicles</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (string item in data.Vehicles)
                {
                    <tr>
                        <td style="color: #828282; font-size: 16px">@item</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private PersonDto data;

    [Parameter]
    public string Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        data = await Http.GetFromJsonAsync<PersonDto>("people/" + Id);
    }

}
